.profile {
  width: 200px;
  position: absolute;
  right: 50%;
  height: 200px;
  top: 150px;
  background-size: cover;
  background-position: center;
  z-index: 5;
  transform: translate(50%, -50%);
  border-radius: 50% !important;
  box-shadow: 0 5px 35px rgba(24, 24, 39, 0.404),
    0 5px 15px rgba(0, 0, 0, 0.07);
}

h1 {
  color: rgb(29%, 29%, 29%);
}

p.text-h3 {
  font-style: italic;
  color: #4a4a4a;
}

.bgimg {
  background-image: url("https://i.ibb.co/wp2QR2j/Split.png");
  background-size: 100% 100%;
}
.news {
  background-image: url("https://i.ibb.co/DDMCHnH/news.png");
  background-size: 100% 100%;
  padding-bottom: 10%;
}



.container1 {
  /* position: absolute; */
  min-height: 400px;
  width: 80%;
  bottom: 10%;
  display: flex;


}

@media (max-width: 575px) {

  .container1 {
    /* position: absolute; */
    min-height: 400px;
    width: 63%;
    bottom: 10%;
    display: flex;
  
  
  }

}

@media (max-width: 575px) {

  .card {
   /* display: flex; */
  width: 100%;

  background-color: #FCFCFA;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #000;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30%;

  transition: 0.4s ease-out;
  position: relative;

  /* left: 0px; */
  }

}

.projects-title {

    height: 100px;
    line-height: 100px;
    text-align: center;


}

#section04 { background: url(https://picsum.photos/1200/800?image=506) center center / cover no-repeat;}

.card {
  /* display: flex; */
  width: 100%;

  background-color: #FCFCFA;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #000;
  margin-left: 30%;
  margin-right: 30%;

  transition: 0.4s ease-out;
  position: relative;
  /* left: 0px; */
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: #4a4a4a;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  /* position: absolute; */
  top: 0%;
  height: 5px;
  width: 100%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  /* position: absolute; */
  top: 0%;
  z-index: 3;
  width: 0px;
  height: 5px;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, white 0%, #E6F2F2 65%, #E6F2F2 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.thumbnail {
  position: absolute;
  top: 16%;
  left: 0%;
}

.circle {
  position: absolute;
  top: 10%;
  left: 10%;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}





html {
  scroll-behavior: smooth; }

a {
  color: #0000FF; }

.navbar-fixed {
  position: fixed;
  z-index: 100;
  background: white;
  width: 100%; }

.navbar-nav {
  color: #0000FF; }

.uni-logo {
  height: 100px; }

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.headshot {
  width: 200px;
  top: 190px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50% !important;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  z-index: 5; }

.project-image {
  height: 400px; }

.stack-badge {
  background-color: #0000FF;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px; }

.no-padding-top {
  padding-top: 0; }

.circuit-background {
  background: url("../imgs/circuit-board.svg"), linear-gradient(to left, black, blue); }

.img-fluid {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); 
  border-radius: 10px     10px      0           0;
}

.overflowing {
  overflow: visible !important; }

.fullscreen {
  height: 100vh;
  padding-top: 190px;
  min-height: 800px; }

.fake-email {
  color: #007bff;
  cursor: pointer; }

.projects {
  overflow: visible; }

.content {
  left: 10%;
}
.projects::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 190%;
  top: -50px;
  transform: skewY(-7deg);
  background: #f8f8f8; }

.project {
  background: #f8f8f8; }

.call-to-action {
  background: #f8f8f8; }

.project-img {
  width: 100%;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  border-radius: 8px; }

.stack-badge {
  margin-bottom: 10px; }

.green {
  background-color: #16ab39; }

.red {
  background-color: #db2828; }

.purple {
  background-color: #a333c8; }

.teal {
  background-color: #00b5ad; }

.orange {
  background-color: #f2711c; }

.black {
  background-color: black; }

@media (max-width: 500px) {
  .hide-on-mobile {
    display: none; } }





    .content {
      padding: 20px; }